<div class="comment">
  <div class="comment-author">
    <%= comment.author_name %>
  </div>
  <div class="comment-body">
    <%= comment.body %>
  </div>
  <div class="time-posted">
    Posted <%= distance_of_time_in_words(comment.article.created_at,
                                         comment.created_at) %> ago
  </div>
  <div class="comment-actions">
    <%= link_to "Delete", article_comment_path(@article, comment),
                         method: :delete,
                         data: { confirm: "Are you sure?" } %>
  </div>
</div>